<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">
    <div class=card-body>
        <div class="jumbotron jumbotron-custom bg-primary ">
            <h1 class="font-weight-bold text-light text-center">
                WELCOME TO SIELEKTHOR!
            </h1>
        </div>
    </div>
</div>
<div class="col-lg-8 mx-auto">
    <div class="mb-4">
        <hr class="solid">
    </div>
</div>
<div class="container-fluid">
    <div class="row row-custom">
        <div class="mb-4 leftdivide">
            <a th:href="@{/barang}" class="btn btn-primary btn-custom">
                <h5>
                    Barang
                </h5>
            </a>
        </div>
        <div class="mb-4 leftdivide">
            <a th:href="@{/pembelian}" class="btn btn-primary btn-custom">
                <h5>
                    Pembelian
                </h5>
            </a>
        </div>
        <div class="mb-4 leftdivide">
            <a th:href="@{/cari}" class="btn btn-primary btn-custom">
                <h5>
                    Filter Pembelian
                </h5>
            </a>
        </div>
    </div>
</div>
</body>
<style>
    .jumbotron-custom{
        width: 60%;
        height: 30%;
        margin-top: 10%;
        margin-left: 20%;
    }
    hr.solid {
        border-top: 2px solid #999;
    }
    .leftdivide{
        margin-left: 10%;
    }
    .row-custom{
        width: 65%;
        height: 30%;
        margin-left: 10%;
        padding-left: 10%;
    }
    .btn-custom{
        width: 150px;
    }
</style>
</html>