<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pembelian</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar(current='Home')"></nav>

<div class="container-fluid">

    <br>
    <br>
    <br>
    <a th:href="@{/pembelian/add}" class="btn btn-primary">Tambah Pembelian</a>
    <br>
    <br>

    <section>
        <table class = "table">
            <h1 class = "text-center">Daftar Pembelian</h2>
                <br>
                <thead>
                <tr>
                    <th>No</th>
                    <th>No Invoice</th>
                    <th>Total Harga</th>
                    <th>Member</th>
                    <th>Jumlah pembelian</th>
                    <th>Tanggal Pembelian</th>
                    <th>Aksi</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="pembelian, iterationStatus : ${listPembelian}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${pembelian.nomorInvoice}"></td>
                    <td th:text="${pembelian.total}"></td>
                    <td th:text="${pembelian.memberModel.getNamaMember()}"></td>
                    <td th:text="${pembelian.total}"></td>
                    <td th:text="${pembelian.tanggalPembelian}"></td>
                    <td>
                        <a th:href="@{/pembelian/detail/} + ${pembelian.idPembelian}" class="btn btn-primary">Lihat</a>
                        <a th:href="@{/pembelian/ubah/} + ${pembelian.idPembelian}" class="btn btn-outline-primary">Ubah</a>
                        <a th:href="@{/pembelian/delete/} + ${pembelian.idPembelian}" class="btn btn-outline-danger">Hapus</a>
                    </td>
                </tr>
                </tbody>
        </table>
    </section>
</div>
</body>